{% extends "base.html" %}

{% block title %}Author Details - Book Tracker{% endblock %}

{% block content %}
<div id="author-details" class="bg-white shadow overflow-hidden sm:rounded-lg" data-author-id="{{ author_id }}">
    <!-- Author details will be dynamically inserted here by JavaScript -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/author.js') }}"></script>
<script src="{{ url_for('static', filename='js/author_detail.js') }}"></script>
{% endblock %}
