modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Flask App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Add Books to Test List"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Tailwind CSS"

[[workflows.workflow]]
name = "Run Flask App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Add Books to Test List"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python add_books_to_list.py"

[[workflows.workflow]]
name = "Build Tailwind CSS"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tailwindcss -i ./static/css/styles.css -o ./static/css/tailwind.css --minify"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 34121

[[ports]]
localPort = 48079
