{% extends "base.html" %}

{% block title %}Book Details - Book Tracker{% endblock %}

{% block content %}
<div id="book-details" class="container mx-auto mt-8 p-4" data-book-id="{{ book_id }}">
    <!-- Book details will be dynamically inserted here by JavaScript -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/book.js') }}"></script>
<script src="{{ url_for('static', filename='js/book_detail.js') }}"></script>
{% endblock %}
