{% extends "base.html" %}

{% block title %}List Details - Book Tracker{% endblock %}

{% block content %}
<div id="list-details" class="bg-white shadow overflow-hidden sm:rounded-lg" data-list-id="{{ list_id }}">
    <!-- List details will be dynamically inserted here by JavaScript -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/list.js') }}"></script>
<script src="{{ url_for('static', filename='js/list_detail_init.js') }}"></script>
{% endblock %}
